@import '../abstracts/variables/colours.scss';
@import '../abstracts/variables/typography.scss';
@import '../abstracts/variables/typography.scss';
@import '../abstracts/mixins/breakpoints.scss';

body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	font-size: 1rem;
	line-height: $font__line-height-body;
}

.text-l {
	font-size: $font-size__base;

	@include min-screen($screen__xs) {
		font-size: $font-size__l;
		line-height: $font__line-height__l;
	}
}

.text-xl {
	font-size: $font-size__base;

	@include min-screen($screen__xs) {
		font-size: $font-size__xl;
		line-height: $font__line-height__xl;
	}
}

.text-3xl {
	font-size: $font-size__3xl;
}

.font-headings {
	font-family: $font__headings;
}

.text-white {
	color: $color__text-bright;
}

a.text-white {
	text-decoration: none;

	&:visited,
	&:focus,
	&:hover {
		color: $color__text-bright;
	}

	&:hover {
		text-decoration: underline;
	}
}