@import '../abstracts/variables/structure.scss';

.hidden {
    display: none;
}

.visually-hidden {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: -200vw;
}

.align-center {
    text-align: center;
    margin: 0 auto;
    justify-content: center;
}