@import '../variables/structure.scss';
@import './breakpoints.scss';

@mixin container {
	width: 100%;
	position: relative;
	max-width: $content-max-width;
	margin: 0 auto;
	padding: $indent__base $indent__l;

    @include min-screen($screen__lg) {
		padding: 0 $indent__2xl;
    }
}