@import '../abstracts/mixins/structure.scss';
@import '../abstracts/variables/colors.scss';

.footer {
    background-color: $dark-grey;
    color: $color__text-bright;
    
    &__inner-wrap {
        @include container;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}