@import '../abstracts/mixins/structure.scss';
@import '../abstracts/variables/colors.scss';

.header {
    background-color: $primary-color--accent;
    
    &__inner-wrap {
        @include container;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 80px;
    }
}