@import '../abstracts/mixins/utilities.scss';
@import '../abstracts/variables/structure.scss';
@import '../abstracts/variables/colors.scss';

.main-nav {

    &__list {
        display: flex;
        gap: $indent__base;
        @include listReset(); // abstracts/mixins/utilities.module.scss
    }

    // &__item {
    // }

    // &__link {
    // }

    &__skip-link {
        position: fixed;
        top: -100px;
        left: 0;
        right: 0;
        padding: $indent__s;
        background: $white;
        text-align: center;
        transform: all ease-in-out .2s;

        &:focus {
            top: 0;
        }
    }
}