@import '../abstracts/variables/structure.scss';
@import '../abstracts/variables/colors.scss';
@import '../abstracts/mixins/structure.scss';
@import '../abstracts/mixins/breakpoints.scss';

.post-grid {
    @include container;

    &__items {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: $indent__base;

        @include min-screen($screen__md) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include min-screen($screen__lg) {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .post {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: $indent__base;

        &__thumbnail img {
            box-shadow: $box-shadow__base;            
        }

        &__tags {
            position: absolute;
            z-index: 10;
            top: $indent__base;
            left: $indent__base;
            right: $indent__base;
        }
    }
}