@import '../abstracts/variables/structure.scss';
@import '../abstracts/mixins/structure.scss';

.post-grid {
    @include container;

    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: $indent__base;
    }

    .post {
        display: flex;
        flex-direction: column;
        gap: $indent__base;
    }
}