@import '../abstracts/variables/structure.scss';
@import '../abstracts/variables/colors.scss';
@import '../abstracts/mixins/structure.scss';

.section-heading {   
    margin-top: $indent__2xl;
    
    &__inner-wrap {
        @include container;
        text-align: center;

        .description {
            max-width: $max-width__s;
            margin-left: auto;
            margin-right: auto;
        }
    }
}