@import '../abstracts/variables/structure.scss';
@import '../abstracts/mixins/utilities.scss';
@import '../base/elements/pills.scss';

.tags {
    display: flex;
    flex-flow: row wrap;
    gap: $indent__xs;
    @include listReset(); // abstracts/mixins/utilities.module.scss

    &__item {
        &.tags__item {
            @extend %pill;
            @extend %pill--small;
        }
    }
}