@import './abstracts/variables/typography.scss';
@import './abstracts/variables/structure.scss';
@import './base/typography.scss';
@import './base/elements/buttons.scss';
@import './utilities/utilities.scss';

html,
body {
  padding: 0;
  margin: 0;

  * {
    box-sizing: border-box;

    &:focus-visible {
      outline: $border-width__buttons solid $primary-color;
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
