@import '../../abstracts/variables/structure.scss';
@import '../../abstracts/variables/typography.scss';
@import '../../abstracts/variables/colors.scss';

%pill {
	border: $border-width__buttons solid;
	border-color: $color__border-button;
	border-radius: $border-radius__buttons;
    padding: $indent__xs $indent__base;
    text-align: center;
    user-select: none;
    font-size: $font-size__s;
    box-shadow: $box-shadow__base;

    &--active {
        background-color: $secondary-color;
        color: $color__text-bright;
    }
}