@import '../../abstracts/variables/structure.scss';
@import '../../abstracts/variables/typography.scss';
@import '../../abstracts/variables/colors.scss';

%pill {
	border: $border-width__buttons solid;
	border-color: $color__border-button;
    display: inline-block;
    padding: $indent__xs $indent__base;
    text-align: center;
    user-select: none;
    font-size: $font-size__s;
    background-color: $white;

    &--active {
        background-color: $secondary-color;
        color: $color__text-bright;
    }

    &--small {
        padding: $indent__xs $indent__s;
        font-size: $font-size__xs;
        background-color: $color__border-button;
        color: $color__text-bright;
    }
}